<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='features/icon.svg') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Acesso Negado</title>
</head>
<body>
    <div class="container">
        <div class="message">Acesso Negado!</div>
        <div class="timer" id="countdown">5</div>
        <div class="redirect">Você será redirecionado em...</div>
    </div>

    <script>
        let countdown = 5;
        const timerElement = document.getElementById('countdown');
        let interval;

        function updateTimer() {
            countdown--;
            timerElement.textContent = countdown;
            
            if (countdown <= 0) {
                clearInterval(interval);
                window.location.href = '/login?from_acesso_negado=true';
            }
        }

        interval = setInterval(updateTimer, 1000);
    </script>
</body>
</html>