<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Tabela: {{ table_name }} - Golfinho Azul</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='features/icon.svg') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <header class="oceanoHeader">
        <nav class="navegacaoContainer">
            <div class="logoContainer">
                <a href="javascript:history.back()" class="logoBtn">
                    <i class="fas fa-arrow-left"></i>
                    <span>Voltar</span>
                </a>
            </div>
            <div class="navegacaoButton">
            {% if current_user.is_authenticated %}
                <div class="profileDropdown">
                    <button class="profileBtn">
                        <div class="profileIcon" style="--profile-color: {{ current_user.profile_color }}; --profile-color-dark: {{ current_user.profile_color }}"></div>
                        Meu Perfil
                    </button>
                    <div class="dropdownContent">
                        <a href="{{ url_for('login')}}">Dashboard</a>
                        <a href="{{ url_for('alterar_dados') }}">Alterar Dados</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </div>
                {% else %}
                    <a href="{{ url_for('login') }}" class="navegacaoBtn"><i class="fas fa-sign-in-alt"></i> Login</a>
                    <a href="{{ url_for('register') }}" class="navegacaoBtn"><i class="fas fa-user-plus"></i> Registrar</a>
                {% endif %}
            </div>
        </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="popup {% if category %}{{ category }}{% endif %}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container">
    <h1>Visualizar Tabela: {{ table_name }}</h1>

    <!-- Formulário de busca -->
    <form id="searchForm">
        <input type="text" id="search_query" name="search_query" placeholder="Digite sua busca..." required>
        <button type="submit">Buscar</button>
    </form>

    <!-- Div para envolver a tabela de pesquisa (inicialmente invisível) -->
    <div id="searchResults" style="display: none;">
        <h2>Resultados da Pesquisa</h2>
        <table id="searchTable" class="defaultTable">
            <thead>
                <tr>
                    {% for column in data[0].keys() %}
                        {% if column != 'password_hash' %}
                        <th>{{ column }}</th>
                        {% endif %}
                    {% endfor %}
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <!-- Resultados da pesquisa serão inseridos aqui dinamicamente -->
            </tbody>
        </table>
    </div>

    <!-- Tabela de dados original -->
    <h2>Dados da Tabela</h2>
    <div class="table-container">
        <table id="dataTable" class="defaultTable">
            <thead>
                <tr>
                    {% if data[0].message %}
                        <th colspan="2">{{ data[0].message }}</th>
                    {% else %}
                        {% for column in data[0].keys() %}
                            {% if column != 'password_hash' %}
                            <th>{{ column }}</th>
                            {% endif %}
                        {% endfor %}
                        <th>Ações</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if data and data[0]['id'] == '--' %}
                    <tr>
                        {% for column in data[0].keys() if column != 'password_hash' %}
                            <td class="empty-message" colspan="1">--</td>
                        {% endfor %}
                        <td class="empty-message">Nenhum registro encontrado!</td>
                    </tr>
                {% else %}
                    {% for row in data %}
                    <tr data-id="{{ row.id }}">
                        {% for column, value in row.items() %}
                            {% if column != 'password_hash' %}
                            <td>{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <button class="edit-btn">Editar</button>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    <!-- Formulário para adicionar dados -->
    {% if table_name not in ['users', 'aprovar_admins'] %}
    <h2>Adicionar Novo Registro</h2>
    <form id="addDataForm" onsubmit="return validateAddForm()">
        {% for column in data[0].keys() %}
            {% if not column.lower().startswith('id') and column.lower() != 'created_at' %}
                <input type="text" id="{{ column }}" name="{{ column }}" placeholder="{{ column }}" required>
            {% endif %}
        {% endfor %}
        <button type="submit">Adicionar</button>
    </form>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>